@model EBM.Models.UserRoll

@{
    ViewBag.Title = "Details Roll Info";
}

<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>User Roll Detail </h3>
            </div>

            <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">Go!</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>User Roll</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li>
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li>
                                        <a href="#">Settings 1</a>
                                    </li>
                                    <li>
                                        <a href="#">Settings 2</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a class="close-link"><i class="fa fa-close"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>

                    <div class="x_content">

                        <!-- start UserRoll-detail sidebar -->
                        <div class="col-md-12 col-sm-12 col-xs-12">

                            <section class="panel">

                                @*<div class="x_title">
                                        <h2>Project Description</h2>
                                        <div class="clearfix"></div>
                                    </div>*@
                                <div class="col-md-10">
                                    <h3 class="green"><i class="fa fa-paint-brush"></i> @Model.UserName</h3>
                                    <div class="clearfix"></div>

                                    <div style="margin-left:4.5%;" class="project_detail">
                                        @{string grpNm = (Model.UserGroupID != null) ? Model.UserGroup.GroupName : "No Group Name";}
                                        <p class="title">Group</p>
                                        <p>@grpNm</p>
                                    </div>
                                    <div class="clearfix"></div>
                                    <br />

                                    <div class="col-md-3 text-center mtop20">
                                        <a href="@Url.Action("Edit","UserRoll", new { @id = Model.UserRollID})" class="btn btn-sm btn-info"><i class="fa fa-pencil"></i> Edit</a>
                                        <a href="@Url.Action("Index","UserRoll")" class="btn btn-sm btn-dark"><i class="fa fa-level-up"></i> Back</a>
                                    </div>
                                </div>

                            </section>

                        </div>
                        <!-- end project-detail sidebar -->

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
